if page.total !== 1
  -
    var options = {
      prev_text: '<i class="fas fa-chevron-left fa-fw"></i>',
      next_text: '<i class="fas fa-chevron-right fa-fw"></i>',
      mid_size: 1,
      escape: false
    }

  if globalPageType === 'post'
    - let paginationOrder = theme.post_pagination === 2 ? { prev: page.prev, next: page.next } : { prev: page.next, next: page.prev }

    nav#pagination.pagination-post
      // Previous 文章
      if paginationOrder.prev
        - const getPrevDesc = paginationOrder.prev.postDesc || postDesc(paginationOrder.prev)
        - let prevClassName = paginationOrder.next ? '' : ''
        - prevClassName = getPrevDesc ? prevClassName : prevClassName + ' no-desc'

        a.pagination-related(class=prevClassName href=url_for(paginationOrder.prev.path) title=paginationOrder.prev.title)
          if paginationOrder.prev.cover_type === 'img'
            img.cover(src=url_for(paginationOrder.prev.pagination_cover || paginationOrder.prev.cover) onerror=`onerror=null;src='${url_for(theme.error_img.post_page)}'` alt='cover of previous post')
          else
            .cover(style=`background: ${paginationOrder.prev.cover || 'var(--default-bg-color)'}`)

          .info
            .info-1
              .info-item-1=_p('pagination.prev')
              .info-item-2!=paginationOrder.prev.title
            if getPrevDesc
              .info-2
                .info-item-1!=getPrevDesc
      else
        // 已是首篇文章占位
        .pagination-related.no-article
          .cover(style='background: var(--default-bg-color)')
          .info
            .info-1
              .info-item-1=_p('pagination.prev')
              .info-item-2 已是首篇文章

      // Next 文章
      if paginationOrder.next
        - const getNextDesc = paginationOrder.next.postDesc || postDesc(paginationOrder.next)
        - let nextClassName = paginationOrder.prev ? '' : ''
        - nextClassName = getNextDesc ? nextClassName : nextClassName + ' no-desc'

        a.pagination-related(class=nextClassName href=url_for(paginationOrder.next.path) title=paginationOrder.next.title)
          if paginationOrder.next.cover_type === 'img'
            img.cover(src=url_for(paginationOrder.next.pagination_cover || paginationOrder.next.cover) onerror=`onerror=null;src='${url_for(theme.error_img.post_page)}'` alt='cover of next post')
          else
            .cover(style=`background: ${paginationOrder.next.cover || 'var(--default-bg-color)'}`)

          .info(class='text-right')
            .info-1
              .info-item-1=_p('pagination.next')
              .info-item-2!=paginationOrder.next.title
            if getNextDesc
              .info-2
                .info-item-1!=getNextDesc
      else
        // 已是末篇文章占位
        .pagination-related.no-article
          .cover(style='background: var(--default-bg-color)')
          .info(class='text-right')
            .info-1
              .info-item-1=_p('pagination.next')
              .info-item-2 已是末篇文章
  else
    nav#pagination
      .pagination
        if globalPageType === 'home'
          - options.format = 'page/%d/#content-inner'
        !=paginator(options)